.thanksSection {align-items: unset;
    @media screen and (max-width:900px) {position:relative; margin-top:0px !important;}
    .sec1{padding-top:100px;
        @media screen and (max-width:1800px) {padding-top:80px;}
        @media screen and (max-width:1600px) {padding-top:50px;}
        @media screen and (max-width:1400px) {padding-top:25px;}
        @media screen and (max-width:900px) {display:none !important;}
    }
    .form-wrap {
        height: 100vh;
        overflow-y: unset;
        background-color: #00FFA3;
        .tabs{
            display:none !important;
        }
        
    }

    .tabs-content {
        overflow-y: unset !important;
        height: 100vh;
        @media screen and (max-width:900px){height: calc(100vh - 0px) !important;}
    }
    .thanksClose{padding: 30px;position:absolute; top:0; right:0;background: #000;
        @media screen and (max-width:900px){ padding: 16px; }
    
        @media screen and (max-width:375px) {padding: 10px;}
    }
}

.thankYou {
    background-color: #00FFA3;
    padding: 325px 217px 0px 217px;
    height: 100vh;

    .thanksImage {
        display: block;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 18px;
        font-weight: 400
    }

    h2,
    div {
        text-align: center;
        margin-top: 30px;
        line-height:36px;
    }
    h3 {
        text-align: center;
        margin-top: 20px;
        line-height:24px;
    }

    a {
        font-size: 18px;
        font-weight: 800;
        color: #000;
        display: inline-block;
        margin-top: 65px;
        margin-bottom: 40px;
    }

    @media screen and (max-width:1850px) {
        
    }

    @media screen and (max-width:1800px) {
        
    }

    @media screen and (max-width:1600px) {
        
    }

    @media screen and (max-width:1680px) {
        padding: 225px 162px 4px 167px;

        h3 {
            font-size: 16px;
        }

        .h2 {
            font-size: 32px;
            line-height: 30px;
        }
    }

    @media screen and (max-width:1400px) {
         padding: 190px 162px 4px 167px;
        h3 {
            font-size: 14px;
        }

        .h2 {
            font-size: 24px;
        }
    }


    @media screen and (max-width:1280px) {
        height: 100vh;
    }
    @media screen and (max-width:1090px) {
        
        padding: 100px 80px;

        a {
            margin-top: 60px;
            margin-bottom: 0px;
        }
    }
    @media screen and (max-width:900px) { height:100vh;}
}



// template class
.page-template-thanks{
    header{display: none;}
}