#svganime {
    .st0 {
        display: none;
    }

    .newClass {
        animation: 2s slide-right forwards;
        animation-delay: .8s;
        opacity: 0;
    }

    .layer_two,
    .layer_three {
        opacity: 0;
    }

    @keyframes slide-right {
        from {
            transform: translateX(60%);
            opacity: 0;
        }

        to {
            transform: translateX(0%);
            opacity: 1;
        }
    }

    .newClasstwo {
        animation: 2s slide-left forwards;
        animation-delay: .8s;
        opacity: 0;
    }

    @keyframes slide-left {
        from {
            transform: translateX(-60%);
            opacity: 0;
        }

        to {
            transform: translateX(0%);
            opacity: 1;
        }
    }
}

#multipleMbl, #multipleMbltwo {

    .mobile_one,
    .mobile_two,
    .mobileSec_two,
    .mobileSec_one {
        opacity: 0;
    }

    .mobile_two_anime, .mobileSec_two_anime {
        animation: fadeinall 3s forwards;
        opacity: 1;
    }

    .mobile_one_anime, .mobileSec_one_anime {
        animation: fadeinalltwo 3s forwards;
        opacity: 1;
    }

    @keyframes fadeinall {
        from {
            transform: translateY(900px);
        }

        90% {
            transform: translateY(0px);
        }
    }

    @keyframes fadeinalltwo {
        from {
            transform: translateY(500px);
        }

        90% {
            transform: translateY(0px);
        }
    }
}