

.blogsDetails {
    margin-top:96px;
    .bannerSection{
        position:relative;
        margin-bottom:60px;
        img{width:100%;}
        .bannerDetails{
            position:absolute;
            bottom:65px;
            padding-left: 150px;
            width: 75%;
            text-shadow: 4px 4px 14px rgba(0, 0, 0, 0.35);
        }
    }
    .blogDetailsSection{
        padding:0px 100px 0px 150px; display:flex; justify-content:space-between;
        .detailsBox{width:70%; padding-right:125px;
            .breadcrumb{margin-bottom:60px;
                li{list-style:none;display: inline;
                    a{text-decoration:none;color: #949494;}
                }
            }
            .userBox{
                display:flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 38px;
                .desc{margin-left:29px;}
            }
            .blogContentBox{
                h2{font-size:40px;margin-bottom:20px;}
                p{line-height:40px;}
                img{
                    max-width:100%;
                    padding:30px 0px;
                    border-radius:90px;
                }
                .sharePostSectionDesktop{
                    .sharePost{padding-top:80px;display:flex;align-items:center;
                        p{margin-left:12px; margin-right:32px;}
                        .shareIcon{display:flex;align-items:center;
                            a{padding:0px;border-radius: 50%;background: #F8F8F8;box-shadow: 2px 2px 4px rgba(199, 199, 199, 0.45); margin-right:16px;
                                img{padding:8px;border-radius:0px;align-items: center;display: flex;}
                            }
                        }
                    }
                }
            }
        }
        .detailsBoxAuthor{
            width:30%;
            .authorBox{
                display:flex;
                border-left: 4px solid #6527AB;
                align-items:center;
                .authorImg{
                    img{max-width:100%;}
                }
                .authorDesc{margin-left:20px;
                    .authorDate{display:flex; margin-top: 12px; align-items:center;
                        img{max-width:100%; margin-right: 5px;}
                    }
                }
            }
            
            .sharePostSectionMobile{display:none;
            }
            .quickLinks{
                padding:40px;
                background: #F8F8F8;
                box-shadow: -8px -8px 20px #FFFFFF, 8px 8px 20px rgba(134, 50, 212, 0.29);
                border-radius: 40px;
                margin-top:130px;
                .quickLinksBox{border-bottom: 1px solid #CBCBCB;
                    h4{padding:24px 0px 32px 0px;}
                    p{padding-bottom:24px;}
                    &:last-child {border-bottom: 0px solid #CBCBCB;}
                }
            }
        }
        
    }

    .relatedBlogs{padding:150px;
        h2{font-size:40px; margin-bottom:40px;}
        .relatedBlogsSection{
            display:flex;
            justify-content:space-between;
            .relatedBlogsBox{position:relative; margin-right: 30px; border-radius: 40px; overflow: auto;
                img{width:100%;}
                .details{position:absolute;bottom:20px; padding:20px 35px;}
            }

        }
    }


    

    /**************************************************Media Query***************************************************/
    @media screen and (max-width:1800px) {
        .bannerSection .bannerDetails{
            padding-left: 130px;
        }
        .blogDetailsSection{
            padding:0px 90px 0px 130px;
        }
    }
    @media screen and (max-width:1600px) {
        margin-top:86px;
        .bannerSection .bannerDetails{
            padding-left: 100px;
        }
        .blogDetailsSection{
            padding:0px 60px 0px 100px;
            .detailsBox{padding-right:100px;
                .userBox{margin-bottom:25px;}
                .blogContentBox {
                    h2{font-size:35px;margin-bottom:15px;}
                    p{line-height:35px;}
                    img{padding:25px 0px;}
                    .sharePost{padding-top:60px;}
                    }
                }
            .detailsBoxAuthor{
                .quickLinks{
                    padding: 35px;
                    margin-top:120px;
                    .quickLinksBox{
                        h4{padding: 20px 0px 28px 0px;}
                    }
                }
            }

        }
        .relatedBlogs{padding:100px;
            .relatedBlogsSection{
                .relatedBlogsBox{margin-right: 20px;}
            }
        }
       
    }
    @media screen and (max-width:1400px) {
        margin-top:76px;
        .bannerSection{
            margin-bottom: 50px;
                .bannerDetails{
                padding-left: 50px;
            }
        } 
        .blogDetailsSection{
            padding:0px 25px 0px 50px;
            .detailsBox{padding-right:50px;
                .userBox{margin-bottom:20px;}
                .blogContentBox {
                    h2{font-size:30px;margin-bottom:10px;}
                    p{line-height:25px;}
                    img{padding:20px 0px;}
                    .sharePost{padding-top:45px;}
                    }
                }
            .detailsBoxAuthor{
                .authorBox{
                    .authorImg{width:30%;}
                }
                .quickLinks{
                    padding: 30px;
                    margin-top:100px;
                    .quickLinksBox{
                        h4{padding: 15px 0px 20px 0px;}
                    }
                }
            }

        }
        .relatedBlogs{padding:60px 50px;
            h2 {
                font-size: 32px;
                margin-bottom: 25px;
            }
            .relatedBlogsSection{
                .relatedBlogsBox{margin-right: 10px;
                    .details{bottom: 5px; padding: 15px 25px;}
                }
            }
        }
        

    }

    @media screen and (max-width:1200px) {
        
    }

    @media screen and (max-width:1024px) {
        margin-top:72px;
        
        
    }
    @media screen and (max-width:920px) {
        .bannerSection{
            margin-bottom: 22px;
                .bannerDetails{
                padding-left: 20px;
            }
        } 
        .blogDetailsSection{
            padding:0px 20px 0px 20px; display:block;
            .detailsBox{padding-right:0px; width:100%;
                .userBox{margin-bottom:24px; display:block;
                    .img{margin-bottom:13px;}
                    .desc{margin-left:0px;line-height: 21px;}
                    }
                .blogContentBox {
                    h2{font-size:16px;margin-bottom:10px;}
                    p{line-height:20px;}
                    img{padding:30px 0px;}
                    .sharePostSectionDesktop{display:none;
                            .sharePost{padding-top:45px;}
                        }
                    }
                    
                }
            .detailsBoxAuthor{width:100%;margin-top: 30px;
                .authorBox{display:block;border-left: 0px solid #6527AB;
                    .authorImg{width:100%;border-left: 4px solid #6527AB;margin-bottom: 25px;}
                    .authorDesc{width:100%;margin-left: 0px;}
                }
                .sharePostSectionMobile{display:block;
                    .sharePost{padding-top:60px;display:block;margin-bottom: 38px;
                        p{display:flex;align-items: center;margin-bottom: 16px;
                            img{margin-right:10px;}
                        }
                        .shareIcon{display:flex;align-items:center;
                            a{padding:0px;border-radius: 50%;background: #F8F8F8;box-shadow: 2px 2px 4px rgba(199, 199, 199, 0.45); margin-right:16px;
                                img{padding:8px;border-radius:0px;align-items: center;display: flex;}
                            }
                        }
                    }
                }
                .quickLinks{
                    padding: 30px;
                    margin-top:80px;
                    .quickLinksBox{padding: 16px 0px;
                        h4{padding-bottom: 16px;}
                        p{padding-bottom: 0px;}
                    }
                }
            }

        }
        .relatedBlogs{padding:80px 20px;
            h2 {
                font-size: 32px;
                margin-bottom: 40px;
            }
            .relatedBlogsSection{overflow:hidden;
                .relatedBlogsBox{
                    .details{bottom: 5px; padding: 15px 25px;}
                }
            }
        }
    }
}

#button {
    display: none;

    @media screen and (max-width:1024px) {
        display: flex;
        align-items: center;
        background-color: #fff;
        width: 48px;
        height: 48px;
        text-align: center;
        border-radius: 50%;
        position: fixed;
        bottom: 20px;
        right: 24px;
        transition: background-color .3s,
        opacity .5s, visibility .5s;
        opacity: 0;
        visibility: hidden;
        z-index: 1000;
        cursor: pointer;

        img {
            margin: 0 auto;
        }

        &:hover {
            background-color: #fff;
        }

        &:active {
            background-color: #555;
        }

        &.show {
            opacity: 1;
            visibility: visible;
        }
    }
}