.single-post {
    header {
        border-bottom: 1px solid #000;
    }
}

.blogsDetails {
    margin-top: 96px;
    padding: 84px 90px 90px 90px;

    img {
        max-width: 100%;
    }

    .blogsDetailsSection {
        display: flex;
        margin-bottom: 50px;
        position: relative;

        .blogsDetailsOne {
            width: 35%;
            margin-right: 100px;
            position: sticky;
            top: 20%;
            height: 650px;

            .blogDate {
                display: flex;
                align-items: center;
                margin-bottom: 32px;

                img {
                    margin-right: 10px;
                }

                p {
                    line-height: 16px;
                    letter-spacing: 0.03em;
                }
            }

            h1 {
                margin-bottom: 32px;
                line-height: 70px;
                letter-spacing: -0.03em;
            }

            .authorBoxDesktop {
                .shareIcons {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 50px 0px;
                    margin-bottom: 24px;
                    border-bottom: 1px solid #000000;
                    border-top: 1px solid #000000;
                    line-height: 24px;

                    h4 {
                        text-transform: uppercase;
                    }

                    .icons {
                        display: flex;
                        align-items: center;

                        .iconsImg {
                            margin-right: 15px;

                            .fb {
                                &:hover circle {
                                    fill: #3b5998;
                                }

                                &:hover path {
                                    fill: #fff;
                                }
                            }

                            .twitter {
                                &:hover circle {
                                    fill: #00acee;
                                }

                                &:hover path {
                                    fill: #fff;
                                }
                            }

                            .linkdin {
                                &:hover circle {
                                    fill: #0072b1;
                                }

                                &:hover path {
                                    fill: #fff;
                                }
                            }

                            .slack {
                                &:hover circle {
                                    fill: #4B144B;
                                }

                                &:hover .path1 {
                                    fill: #E21E5C;
                                }

                                &:hover .path2 {
                                    fill: #39C6F1;
                                }

                                &:hover .path3 {
                                    fill: #31B67F;
                                }

                                &:hover .path4 {
                                    fill: #EDB32E;
                                }
                            }
                        }
                    }
                }

                .blogTags {
                    border-bottom: 1px solid #000000;
                    padding-bottom: 24px;
                    line-height: 24px;

                    p {
                        display: flex;
                        justify-content: space-between;

                        span {
                            margin: 0px 15px;
                        }
                    }
                }
            }
        }

        .blogsDetailsTwo {
            width: 65%;
            overflow-x: unset;

            p {
                line-height: 30px;

                strong {
                    font-weight: 600;
                }
            }

            a {
                color: #000;
                word-break: break-all;
            }

            .wp-block-image {
                margin: 0 !important;
            }

            img {
                padding-bottom: 36px;
                max-width: 100%;
            }

            ul {
                // padding: 10px 0px;
                padding-left: 30px !important;
                margin-bottom: 36px;

                li {
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 30px;
                    list-style-type: disc;

                    strong {
                        font-weight: 600;
                    }

                    a {
                        color: #000;
                        word-break: break-all;
                    }
                }
            }

            ol {
                // padding: 10px 0px;
                padding-left: 20px !important;
                margin-bottom: 36px;

                li {
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 30px;
                    list-style-type: disc;

                    strong {
                        font-weight: 600;
                    }

                    a {
                        color: #000;
                        word-break: break-all;
                    }
                }
            }

            h2 {
                font-size: 40px;
                margin-bottom: 30px;
                font-weight: 800;
                line-height: 50px;
            }

            h3 {
                font-size: 32px;
                margin-bottom: 25px;
                font-weight: 700;
            }

            h4 {
                font-size: 20px;
                margin-bottom: 32px;
                line-height: 24px;
                font-weight: 800;
                letter-spacing: 0.05em;
                text-transform: uppercase;
            }

            h5 {
                font-size: 20px;
                font-weight: 800;
                line-height: 24px;
                line-height: 24px;
            }

            p {
                font-size: 20px;
                line-height: 30px;
                font-weight: 300;
                margin-bottom: 36px;
            }

            .divider {
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;
                margin-bottom: 44px;
            }

            .blogModal {
                margin: 20px 0px;

                .link {
                    text-decoration: none;
                    padding: 10px 15px;
                    border: 1px solid #000000;
                    font-size: 12px;
                    line-height: 18px;
                    text-transform: uppercase;

                    @media screen and (max-width:1400px) {
                        padding: 5px 10px;
                    }

                    @media screen and (max-width:920px) {
                        font-size: 10px;
                    }

                    img {
                        transform: rotate(180deg);
                        margin-left: 10px;
                        width: 20px;
                        padding-bottom: 0px;

                        @media screen and (max-width:1440px) {
                            width: 15px;
                            padding: 0px;
                        }
                    }

                    .link {
                        cursor: help;
                        text-decoration: none;

                        &:hover {
                            background-color: #0085a6;
                            color: #fff;
                            text-decoration: none;
                        }
                    }

                }

                [data-ml-modal] {
                    position: fixed;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    overflow-x: hidden;
                    overflow-y: hidden;
                    -webkit-overflow-scrolling: touch;
                    z-index: 999;
                    width: 0;
                    height: 0;
                    opacity: 0;

                    &:target {
                        width: auto;
                        height: auto;
                        opacity: 1;
                        -webkit-transition: opacity 1s ease;
                        transition: opacity 1s ease;

                        .modal-overlay {
                            position: fixed;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            cursor: pointer;
                            background-color: #000;
                            background-color: rgba(0, 0, 0, 0.7);
                            z-index: 1;
                        }
                    }

                    .modal-dialog {
                        background: #fff;
                        border: 1px solid #000000;
                        position: relative;
                        width: 90%;
                        max-width: 1250px;
                        margin: 10% auto;
                        overflow-x: hidden;
                        overflow-y: auto;
                        z-index: 2;

                        @media screen and (max-width:1400px) {
                            max-width: 950px;
                        }

                        .modalHeader {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            border-bottom: 1px solid #000;

                            .modaltitle {
                                padding: 57px 77px;
                                line-height: 70px;
                                letter-spacing: -0.03em;

                                @media screen and (max-width:1600px) {
                                    padding: 30px 50px;
                                    line-height: 50px;
                                }

                                @media screen and (max-width:1400px) {
                                    padding: 25px 35px;
                                    line-height: 35px;
                                }

                                @media screen and (max-width:920px) {
                                    padding: 15px 20px;
                                    font-size: 25px;
                                    line-height: 25px;
                                }

                                @media screen and (max-width:430px) {
                                    padding: 10px 15px;
                                    font-size: 20px;
                                }
                            }

                            .modal-close {
                                -webkit-transition: all .3s ease-in-out;
                                transition: all .3s ease-in-out;
                                text-decoration: none;
                                padding: 70px 95px;
                                border-left: 1px solid #000000;
                                text-align: center;
                                line-height: 0px;

                                @media screen and (max-width:1600px) {
                                    padding: 40px 70px;
                                }

                                @media screen and (max-width:1400px) {
                                    padding: 35px 50px;
                                }

                                @media screen and (max-width:920px) {
                                    padding: 25px 30px;
                                }

                                @media screen and (max-width:430px) {
                                    padding: 15px;
                                }

                                img {
                                    padding: 0px;

                                    @media screen and (max-width:1600px) {
                                        width: 75%;
                                    }

                                    @media screen and (max-width:1400px) {
                                        width: 70%;
                                    }

                                    @media screen and (max-width:920px) {
                                        width: 50%;
                                    }
                                }
                            }
                        }

                        @media screen and (max-width:1600px) {
                            margin: 8% auto;
                        }

                        @media screen and (max-width:1400px) {
                            margin: 5% auto;
                        }

                        @media screen and (max-width:1024px) {
                            margin: 3% auto;
                        }

                        @media screen and (max-width:920px) {
                            margin: 25% auto;
                        }
                    }

                    .modal-content {
                        background: #fff;
                        margin: 68px 73px 86px 77px;
                        overflow-x: hidden;
                        overflow-y: scroll;
                        max-height: 400px;
                        padding-right: 15px;

                        @media screen and (max-width:1600px) {
                            margin: 50px 50px 50px 50px;
                            max-height: 375px;
                        }

                        @media screen and (max-width:1400px) {
                            margin: 30px 40px 45px 35px;
                            max-height: 350px;
                        }

                        @media screen and (max-width:1024px) {
                            max-height: 300px;
                        }

                        @media screen and (max-width:920px) {
                            margin: 30px 25px 30px 20px;
                        }

                        @media screen and (max-width:430px) {
                            margin: 20px 15px;
                        }

                        ul {
                            padding: 0px;
                            margin: 0px;

                            li {
                                list-style-type: auto;
                                line-height: 40px;
                                letter-spacing: 0.03em;
                                margin-bottom: 12px;

                                @media screen and (max-width:1600px) {
                                    line-height: 32px;
                                }

                                @media screen and (max-width:1400px) {
                                    line-height: 25px;
                                    margin-bottom: 10px;
                                }

                                @media screen and (max-width:920px) {
                                    line-height: 20px;
                                    margin-bottom: 6px;
                                }

                                a {
                                    text-decoration: none;
                                }
                            }
                        }

                        /* ===== Scrollbar CSS ===== */
                        /* Firefox */

                        scrollbar-width: auto;
                        scrollbar-color: #00ffa3 #ffffff;


                        /* Chrome, Edge, and Safari */
                        &::-webkit-scrollbar {
                            width: 13px;

                        }



                        &::-webkit-scrollbar-track {
                            background: #ffffff;
                        }

                        &::-webkit-scrollbar-thumb {
                            background-color: #00ffa3;
                            border-radius: 15px;
                            border: 3px solid #ffffff;
                        }
                    }

                }

            }


        }

        .authorBoxMobile {
            display: none;
        }
    }

    .relatedBlogs {
        h3 {
            margin-bottom: 34px;
        }

        .relatedBlogsSection {
            display: flex;

            .relatedBlogsBox {
                position: relative;
                margin-right: 26px;
                width: 33%;
                line-height: 0;

                a {
                    img {
                        width: 100%;
                    }

                    .details {
                        position: absolute;
                        top: 0px;
                        padding: 0px 47px 35px 37px;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: end;
                        flex-flow: column;
                        background: rgba(0, 0, 0, 0.5);

                        .detailsBox {
                            opacity: 1;
                            transition: all ease-in-out 0.5s;

                            h4 {
                                margin-bottom: 20px;
                                text-transform: uppercase;
                            }

                            p {
                                line-height: 32px;
                            }
                        }

                    }

                    &:hover {
                        cursor: url('../images/blog-cursor.svg') 0 0, auto;
                    }

                    &:hover .detailsBox {
                        opacity: 0;
                    }
                }

                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    }

    .relatedBlogsMobile {
        display: none;
    }




    /**************************************************Media Query***************************************************/
    @media screen and (max-width:1800px) {}

    @media screen and (max-width:1600px) {
        margin-top: 86px;
        padding: 60px 90px 45px 90px;

        .blogsDetailsSection {
            .blogsDetailsOne {
                margin-right: 80px;

                h1 {
                    margin-bottom: 28px;
                    line-height: 60px;
                }

                .authorBoxDesktop {
                    .shareIcons {
                        padding: 40px 0px;
                        margin-bottom: 20px;
                    }
                }
            }

            .blogsDetailsTwo {
                width: 65%;

                img {
                    padding-bottom: 30px;
                }

                ul,
                ol {
                    margin-bottom: 30px;

                    li {
                        font-size: 18px;
                    }
                }

                h2 {
                    font-size: 35px;
                    margin-bottom: 25px;
                    line-height: 40px;
                }

                h3 {
                    font-size: 26px;
                    margin-bottom: 22px;
                }

                h4 {
                    font-size: 18px;
                    margin-bottom: 20px;
                    line-height: 20px;
                }

                h5 {
                    font-size: 18px;
                    line-height: 20px;
                }

                p {
                    font-size: 18px;
                    line-height: 30px;
                    margin-bottom: 30px;
                }

                .divider {
                    border-top: 1px solid transparent;
                    border-bottom: 1px solid transparent;
                    margin-bottom: 35px;
                }
            }
        }

        .relatedBlogs {
            .relatedBlogsSection {
                .relatedBlogsBox {
                    a {
                        .details {
                            .detailsBox {
                                p {
                                    line-height: 25px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width:1400px) {
        margin-top: 76px;
        padding: 40px 80px 35px 80px;

        .blogsDetailsSection {
            margin-bottom: 20px;

            .blogsDetailsOne {
                margin-right: 60px;

                .blogDate {
                    margin-bottom: 25px;

                    img {
                        margin-right: 7px;
                    }
                }

                h1 {
                    margin-bottom: 25px;
                    line-height: 45px;
                }

                .authorBoxDesktop {
                    .shareIcons {
                        display: flex;
                        justify-content: space-between;
                        padding: 25px 0px;
                        margin-bottom: 18px;
                        border-bottom: 1px solid #000000;

                        .icons {
                            display: flex;
                            align-items: center;

                            .iconsImg {
                                margin-right: 15px;
                            }
                        }
                    }

                    .blogTags {
                        padding-bottom: 18px;

                        p {
                            span {
                                margin-left: 20px;
                            }
                        }
                    }
                }
            }

            .blogsDetailsTwo {
                width: 65%;

                img {
                    padding-bottom: 25px;
                }

                ul,
                ol {
                    // padding: 10px 0px;
                    margin-bottom: 25px;

                    li {
                        font-size: 16px;
                    }
                }

                ul {
                    li {
                        font-size: 16px;
                        line-height: 25px;

                        a {
                            color: #000;
                            word-break: break-all;
                        }
                    }
                }

                ol {
                    // padding: 10px 0px;

                    li {
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 25px;

                        a {
                            text-decoration: none;
                            color: #000;
                        }
                    }
                }

                h2 {
                    font-size: 25px;
                    margin-bottom: 20px;
                    line-height: 30px;
                }

                h3 {
                    font-size: 20px;
                    margin-bottom: 18px;
                }

                h4 {
                    font-size: 16px;
                    margin-bottom: 15px;
                }

                h5 {
                    font-size: 16px;
                }

                p {
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 25px;
                }

                .divider {
                    margin-bottom: 30px;
                }
            }
        }


        .relatedBlogs {
            h3 {
                margin-bottom: 25px;
            }

            .relatedBlogsSection {
                .relatedBlogsBox {
                    margin-right: 10px;

                    a {
                        .details {
                            padding: 0px 25px 20px 25px;

                            .detailsBox {
                                h4 {
                                    margin-bottom: 15px;
                                }

                                p {
                                    line-height: 22px;
                                }
                            }
                        }
                    }
                }
            }
        }


    }

    @media screen and (max-width:1200px) {}

    @media screen and (max-width:1024px) {
        margin-top: 72px;
        padding: 30px 22px 20px 22px;

        .blogsDetailsSection {
            margin-bottom: 50px;

            .blogsDetailsOne {
                margin-right: 40px;

                .blogDate {
                    margin-bottom: 20px;
                }

                h1 {
                    margin-bottom: 20px;
                    line-height: 37px;
                }

                .authorBoxDesktop {
                    .shareIcons {
                        align-items: center;
                        padding: 20px 0px;
                        margin-bottom: 15px;
                    }

                    .blogTags {
                        p {
                            span {
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }

            .blogsDetailsTwo {
                overflow-x: hidden;

                img {
                    padding-bottom: 16px;
                }

                h2 {
                    font-size: 22px;
                    margin-bottom: 15px;
                    line-height: 25px;
                }

                h3 {
                    margin-bottom: 12px;
                }

                p {
                    margin-bottom: 16px;
                }

                .divider {
                    margin-bottom: 25px;
                }


            }
        }

        .relatedBlogs {
            .relatedBlogsSection {
                .relatedBlogsBox {
                    a {
                        .details {
                            padding: 0px 25px 20px 25px;

                            h4 {
                                margin-bottom: 10px;
                            }

                            p {
                                line-height: 18px;
                            }
                        }
                    }
                }
            }
        }

    }

    @media screen and (max-width:920px) {
        padding: 20px 22px 0px 22px;

        .blogsDetailsSection {
            display: block;
            margin-bottom: 70px;
            height: auto;

            .blogsDetailsOne {
                width: 100%;
                margin-right: 0px;
                position: unset;
                height: auto;

                .blogDate {
                    margin-bottom: 10px;
                }

                h1 {
                    margin-bottom: 20px;
                    line-height: 40px;
                }

                .authorBoxDesktop {
                    display: none;
                }
            }

            .blogsDetailsTwo {
                width: 100%;
                margin-bottom: 30px;
                height: auto;
                overflow-x: hidden;
                overflow-y: hidden;

                img {
                    padding: 10px 0px;
                    max-width: 100%;
                }

                h4 {
                    margin-bottom: 10px;
                }
            }

            .authorBoxMobile {
                display: block;

                .shareIcons {
                    display: flex;
                    justify-content: flex-start;
                    padding: 20px 0px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid #000000;
                    border-top: 1px solid #000000;
                    align-items: center;

                    .icons {
                        display: flex;
                        align-items: center;
                        margin-left: 20px;

                        .iconsImg {
                            margin-right: 10px;
                        }
                    }
                }

                .blogTags {
                    border-bottom: 1px solid #000000;
                    padding-bottom: 20px;

                    h4 {
                        display: flex;
                        align-items: center;

                        span {
                            margin-left: 30px;
                        }
                    }
                }
            }
        }


        .relatedBlogs {
            h3 {
                margin-bottom: 20px;
            }

            .relatedBlogsDesktop {
                display: none !important;
            }

            .relatedBlogsSlider {
                display: block;
                margin-bottom: 15px;

                .slick-dots {
                    li {
                        width: 8px;
                        height: 8px;
                        margin: 0px 10px;

                        button {
                            &:before {
                                content: " ";
                                border-radius: 10px;
                                width: 8px;
                                height: 8px;
                                background: #000;
                                opacity: 1;
                            }
                        }
                    }

                    li.slick-active {
                        margin-right: 25px;
                    }

                    li.slick-active button:before {
                        opacity: 1;
                        color: black;
                        width: 35px;
                        border-radius: 10px;
                        transition: .9s all ease-in-out;
                    }
                }

                .slick-track {
                    margin: 0px 0px 5px 0px;

                    .relatedBlogsSliderBox {
                        position: relative;
                        margin: 0 5px;

                        .details {
                            position: absolute;
                            top: 0px;
                            transition: all 0.5s ease-in-out;
                            opacity: 1;
                            height: 100%;
                            width: 100%;
                            display: flex;
                            justify-content: end;
                            flex-flow: column;
                            background: rgba(0, 0, 0, 0.5);
                            padding: 0px 25px 20px 25px;

                            h3 {
                                margin-bottom: 10px;
                            }

                            p {
                                line-height: 18px;
                            }
                        }
                    }
                }
            }
        }

    }

    @media screen and (max-width:575px) {
        .blogsDetailsSection {
            margin-bottom: 60px;

            .blogsDetailsOne {
                margin-right: 0px;

                h1 {
                    margin-bottom: 10px;
                    line-height: 35px;
                }

                .authorBoxDesktop {
                    display: none;
                }
            }


        }


        .relatedBlogsMobile {
            display: block;

            .relatedBlogsSlider {
                .relatedBlogsSliderBox {
                    margin: 0px;

                    .details {
                        padding: 0px 10px 10px 10px;
                    }
                }
            }
        }
    }


}

#button {
    display: none;

    @media screen and (max-width:1024px) {
        display: flex;
        align-items: center;
        background-color: #fff;
        width: 48px;
        height: 48px;
        text-align: center;
        border-radius: 50%;
        position: fixed;
        bottom: 20px;
        right: 24px;
        transition: background-color .3s,
            opacity .5s, visibility .5s;
        opacity: 0;
        visibility: hidden;
        z-index: 1000;
        cursor: pointer;

        img {
            margin: 0 auto;
        }

        &:hover {
            background-color: #fff;
        }

        &:active {
            background-color: #555;
        }

        &.show {
            opacity: 1;
            visibility: visible;
        }
    }
}