.csdetailBg {
    margin-top: 96px;
    overflow-x: hidden;

    img{
        max-width: 100%;
    }

    .animFloat {
        animation: float 3s ease-in-out infinite;
    }
    .paddingZero{padding:0px !important;}
    .desktopVid{display:block;}
    .mobVid{display:none;}

    .bannerSection {
        .sectionOne {
            position: relative;
            padding: 50px 0px 200px 0px;

            .mobtext {
                position: absolute;
                top: 10%;
                padding-left: 112px;
                width: 32%;

                p {
                    text-transform: uppercase;margin-bottom:35px;
                }

                h1 {
                    line-height: 70px;
                    margin: 35px 0px;
                }

                h5 {
                    line-height: 30px;
                    width: 73%;
                }
            }

            .mobImg {
                margin: 0 auto 0 24%;
                width: 60%;
            }
        }
    }
    

    .lefttext-rightImg {
        .sectionTwo {
            display: flex;

            .mobimgTwo {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    margin: 0 auto;
                    width:100%;
                }
            }

            .mobtextTwo {
                padding: 94px 0px 94px 112px;
                width: 50%;

                .innerContent {
                    width: 60%;

                    p {
                        text-transform: uppercase;margin-bottom: 15px;
                    }

                    h1 {
                        line-height: 70px;
                        margin: 5px 0px 35px 0px;
                    }

                    h5 {
                        line-height: 30px;
                    }
                }
            }
        }
    }

    .leftheading-rightText {
        .sectionThree {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 130px 0px 130px 112px;

            .mobtextThree {
                width: 50%;

                .innerContianer {
                    width: 60%;

                    p {
                        text-transform: uppercase;margin-bottom: 15px;
                    }

                    h1 {
                        line-height: 70px;
                        margin: 15px 0px 35px 0px;
                    }
                }
            }

            .mobsubtextThree {
                width: 45%;

                .innerContianertwo {
                    width: 60%;

                    h5 {
                        line-height: 30px;
                    }
                }
            }
        }
    }

    .centerheading-centerText{
        .fullSection{padding: 130px 112px 130px 112px;
            h1{line-height: 53px;letter-spacing: -0.03em;text-align: center;margin-bottom:36px;}
            p{line-height: 36px;text-align: center;letter-spacing: 0.03em;}
        }
    }
    .fullSectionAnimation{
        .fullSectionAnimationBox{display:flex;width:100%;padding: 0px 112px 190px 112px;
            .fullSectionAnimationOne{width:30%;
                img{margin-bottom:40px;
                    &:last-child{margin-bottom:0px;}
                }
            }
            .fullSectionAnimationTwo{width:70%;margin-left:35px;}
        }
    }

    .fullscreenBigimg {
        .sectionFour {
            padding: 50px 0px;

            img {
                margin: 0 auto;
            }
        }
    }

    .leftimg-rightText{
        .sectionTwo {
           flex-direction: row-reverse;
           align-items: center;
        }
    }

    .fullimgwithHeading {
        text-align: center;
        padding: 70px 0px;

        .headingSec {
            width: 60%;
            margin: 0 auto;
            h4 {
                margin-bottom: 15px;
                line-height: 42px;
            }

            p {
                color: rgba(0, 0, 0, 0.5);
                line-height: 30px;
            }
        }

        .imgDiv {
            margin-top: 78px;
        }
    }

    .twoImgsides-headingmiddle {
        padding: 70px 0px;

        .imageHeadingmain {
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;

            .headingDiv {
                width: 30%;

                h4 {
                    line-height: 42px;
                    margin-bottom: 15px;
                }

                p {
                    color: rgba(0, 0, 0, 0.5);
                    line-height: 30px;
                }
            }

            .imgDivmain {
                width: 33%;
            }
        }
    }

    .twoImgtogether-headinglast {
        padding: 70px 0px;

        .imageHeadingmain {
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;

            .headingDiv {
                width: 32%;
                text-align: left;
                padding-right: 150px;

                h4 {
                    line-height: 42px;
                    margin-bottom: 15px;
                }

                p {
                    color: rgba(0, 0, 0, 0.5);
                    line-height: 30px;
                }
            }

            .imgDivmain {
                width: 65%;
            }
        }
    }

    .bottomimgLogos {
        position: relative;
        overflow: hidden;

        .sectionSiximg {
            line-height: 0px;

            img {
                width: 100%;
            }
        }

        .moreCasestudy {
            position: absolute;
            width: 100%;
            bottom: -100%;

            .brandLogos {
                display: flex;
                align-items: center;

                .relatedBox {
                    padding: 30px;
                    width: 50%;
                    background: #00C859;
                    transition: 0.6s all;

                    a {
                        display: block;
                        width: 100%;
                        cursor: url(../images/mouse-cursor-pages.png) 30 30, auto;

                        img {
                            margin: 0 auto;
                            height: 100px;
                        }
                    }

                    &:nth-child(1) {
                        text-align: left;
                    }

                    &:nth-child(2) {
                        text-align: right;
                    }

                    &.active {
                        width: 100%;
                    }

                    &.activeTwo {
                        width: 100%;
                    }

                    // &.activerelated {
                    //     width: 85%;
                    // }

                    // &.deactiverelated {
                    //     width: 15%;
                    // }
                }
            }
        }

        .circleAnimShow {
            position: absolute;
            bottom: 0%;
            transition: all 1s ease-in-out;
        }

    }

    .bannerSlidermain {
        .bannerInnerDiv {
            position: relative;
            padding:120px 60px 0px 0px;
            .bannerSlider {
                margin-bottom: 0px;
                img {
                    margin:0 auto;
                }

                .slick-dots {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translate(-50%, -50%);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 100%;
                    width: unset;

                    li {
                        width: 8px;
                        height: 8px;
                        margin: 0px 10px;
                        padding: 10px 0px;

                        button {
                            &:before {
                                content: " ";
                                border-radius: 10px;
                                width: 8px;
                                height: 8px;
                                background: #627578;
                                opacity: 1;
                            }
                        }
                    }

                    li.slick-active {
                        margin-bottom: 40px;
                    }

                    li.slick-active button:before {
                        opacity: 1;
                        color: #627578;
                        width: 8px;
                        height: 50px;
                        border-radius: 10px;
                        transition: .9s all ease-in-out;
                    }
                }
            }

            .bannerslidePara {
                position: absolute;
                top: 120px;
                left: 100px;
                z-index: 1;
                width: 28%;
                p{line-height: 14px;}
                h5{line-height: 30px;width: 75%;}
                h1{line-height: 70px;margin: 15px 0px 35px;}
            }

            .awardSec{
                display: none;
            }
        }
    }
    // tagged banner style
    .taggedBanner{
        .sectionOne{
            padding: 0px !important;
            .mobImg{
                margin: 0 0 0 auto !important;
                width: 100%;
            }
        }
    }

    .desktopImg {
        display: block;
    }

    .mobileImg {
        display: none;
    }

    /**************************************************Media Query*********************************************/
    @media screen and (max-width:1600px) {
        margin-top: 86px;

        .bannerSection {
            .sectionOne {
                padding: 40px 0px 150px 0px;

                .mobtext {
                    padding-left: 82px;
                    p {
                        margin-bottom:25px;
                    }

                    h1 {
                        margin: 20px 0px;
                        line-height: 50px;
                    }

                    h5 {
                        line-height: 27px;
                    }
                }

                .mobImg {
                    margin: 0 auto 0 22%;
                }
            }
        }

        .lefttext-rightImg .sectionTwo {
            .mobtextTwo {
                padding: 74px 0px 74px 82px;

                .innerContent {
                    width: 50%;
                    h1 {
                        margin: 5px 0px 20px 0px;
                        line-height: 50px;
                    }

                    h5 {
                        line-height: 27px;
                    }
                }
            }

            .mobimgTwo {
                width: 50%;
            }

        }

        .leftheading-rightText .sectionThree {
            padding: 100px 0px 100px 82px;

            .mobtextThree {
                .innerContianer h1 {
                    line-height: 50px;
                    margin: 10px 0px 20px 0px;
                }
            }

            .mobsubtextThree {
                .innerContianertwo h5 {
                    line-height: 27px;
                }
            }
        }
        .centerheading-centerText{
            .fullSection{ padding: 100px 82px 100px 82px;
                h1{line-height: 45px;margin-bottom:32px;}
                p{line-height: 30px;}
            }
        }
        .fullSectionAnimation{
            .fullSectionAnimationBox{padding: 0px 82px 160px 82px;
                .fullSectionAnimationOne{
                    img{margin-bottom:30px;
                        &:last-child{margin-bottom:0px;}
                    }
                }
                .fullSectionAnimationTwo{margin-left:30px;}
            }
        }

        .fullscreenBigimg .sectionFour {
            padding: 30px 0px;
        }

        

        .fullimgwithHeading {
            padding: 50px 0px;

            .headingSec {
                h4 {
                    margin-bottom: 10px;
                    line-height: 38px;
                }

                p {
                    line-height: 27px;
                }
            }

            .imgDiv {
                margin-top: 58px;
            }
        }

        .twoImgsides-headingmiddle {
            padding: 50px 0px;

            .imageHeadingmain {
                .headingDiv {
                    h4 {
                        margin-bottom: 10px;
                        line-height: 38px;
                    }

                    p {
                        line-height: 27px;
                    }
                }
            }
        }

        .twoImgtogether-headinglast {
            padding: 50px 0px;

            .imageHeadingmain {
                .headingDiv {
                    padding-right: 120px;

                    h4 {
                        line-height: 38px;
                        margin-bottom: 10px;
                    }

                    p {
                        line-height: 27px;
                    }
                }

                .imgDivmain {
                    width: 66%;
                }
            }
        }

        .bannerSlidermain {
            .bannerInnerDiv {
               padding:100px 50px 0px 0px;
                .bannerslidePara {
                    top: 100px;
                    left: 80px;
                    width: 26%;
                    p{line-height: 12px;}
                    h5{line-height: 26px;width: 70%;}
                    h1{line-height: 50px;margin: 15px 0px 30px;}
                }
            }
        }
    }

    @media screen and (max-width:1450px) {
        margin-top: 76px;

        .bannerSection {
            .sectionOne {
                padding: 30px 0px 100px 0px;

                .mobtext {
                    padding-left: 52px;
                    p {
                        margin-bottom:15px;
                    }

                    h1 {
                        margin: 10px 0px;
                        line-height: 45px;
                    }

                    h5 {
                        line-height: 25px;
                    }
                }

                .mobImg {
                    margin: 0 auto 0 20%;
                }
            }
        }

        .lefttext-rightImg .sectionTwo {
            .mobtextTwo {
                padding: 54px 0px 54px 52px;

                .innerContent {
                    width: 65%;
                    p{margin-bottom: 10px;}
                    h1 {
                        margin: 5px 0px 10px 0px;
                        line-height: 45px;
                    }

                    h5 {
                        line-height: 25px;
                    }
                }
            }

            .mobimgTwo {
                width: 50%;
            }

        }

        .leftheading-rightText .sectionThree {
            padding: 80px 0px 80px 52px;

            .mobtextThree {
                .innerContianer {
                    width: 65%;
                    p{margin-bottom: 10px;}
                    h1 {
                        line-height: 45px;
                        margin: 5px 0px 10px 0px;
                    }
                }
            }

            .mobsubtextThree {
                .innerContianertwo {
                    width: 58%;

                    h5 {
                        line-height: 25px;
                    }
                }
            }
        }
        .centerheading-centerText{
            .fullSection{ padding: 80px 52px 80px 52px;
                h1{line-height: 40px;margin-bottom:28px;}
                p{line-height: 26px;}
            }
        }
        .fullSectionAnimation{
            .fullSectionAnimationBox{padding: 0px 52px 120px 52px;
                .fullSectionAnimationOne{
                    img{margin-bottom:25px;}
                }
                .fullSectionAnimationTwo{margin-left:25px;}
            }
        }

        .fullscreenBigimg .sectionFour {
            padding: 20px 0px;
        }

        .fullimgwithHeading {
            padding: 40px 0px;

            .headingSec {
                h4 {
                    line-height: 32px;
                }

                p {
                    line-height: 25px;
                }
            }

            .imgDiv {
                margin-top: 50px;
            }
        }

        .twoImgsides-headingmiddle {
            padding: 40px 0px;

            .imageHeadingmain {
                .headingDiv {
                    h4 {
                        line-height: 32px;
                    }

                    p {
                        line-height: 25px;
                    }
                }
            }
        }

        .twoImgtogether-headinglast {
            padding: 40px 0px;

            .imageHeadingmain {
                .headingDiv {
                    width: 31%;
                    padding-right: 80px;

                    h4 {
                        line-height: 32px;
                    }

                    p {
                        line-height: 25px;
                    }
                }

                .imgDivmain {
                    width: 67%;
                }
            }
        }

        .bannerSlidermain {
            .bannerInnerDiv {
               padding:80px 30px 0px 0px;
                .bannerslidePara {
                    top: 80px;
                    left: 60px;
                    width: 24%;
                    p{line-height: 12px;}
                    h5{line-height: 24px;}
                    h1{line-height: 40px;margin: 10px 0px 25px;}
                }
            }
        }
    }

    @media screen and (max-width:1200px) {
        .bannerSection {
            .sectionOne {
                padding: 35px 0px 60px 0px;

                .mobtext {
                    padding-left: 32px;

                    h1 {
                        margin: 10px 0px;
                        line-height: 40px;
                    }

                    h5 {
                        line-height: 23px;
                    }
                }
            }
        }

        .lefttext-rightImg .sectionTwo {
            .mobtextTwo {
                padding: 34px 0px 34px 32px;

                .innerContent {
                    width: 70%;

                    h1 {
                        margin: 5px 0px 10px 0px;
                        line-height: 40px;
                    }

                    h5 {
                        line-height: 23px;
                    }
                }
            }

            .mobimgTwo {
                width: 50%;
            }

        }

        .leftheading-rightText .sectionThree {
            padding: 50px 0px 60px 32px;

            .mobtextThree {
                .innerContianer {
                    width: 70%;

                    h1 {
                        line-height: 40px;
                        margin: 5px 0px 10px 0px;
                    }
                }
            }

            .mobsubtextThree {
                .innerContianertwo {
                    width: 62%;

                    h5 {
                        line-height: 23px;
                    }
                }
            }
        }
        .centerheading-centerText{
            .fullSection{ padding: 50px 32px 60px 32px;
                h1{line-height: 35px;margin-bottom:24px;}
                p{line-height: 24px;}
            }
        }
        .fullSectionAnimation{
            .fullSectionAnimationBox{padding: 0px 32px 100px 32px;
                .fullSectionAnimationOne{
                    img{margin-bottom:20px;}
                }
                .fullSectionAnimationTwo{margin-left:20px;}
            }
        }

        .fullscreenBigimg .sectionFour {
            padding: 20px 0px;
        }

        .fullimgwithHeading {
            padding: 30px 0px;

            .headingSec {
                width: 75%;
                h4 {
                    line-height: 28px;
                }

                p {
                    line-height: 23px;
                }
            }

            .imgDiv {
                margin-top: 40px;
            }
        }

        .twoImgsides-headingmiddle {
            padding: 30px 0px;

            .imageHeadingmain {
                .headingDiv {
                    h4 {
                        line-height: 28px;
                    }

                    p {
                        line-height: 23px;
                    }
                }
            }
        }

        .twoImgtogether-headinglast {
            padding: 30px 0px;

            .imageHeadingmain {
                .headingDiv {
                    width: 30%;
                    padding-right: 60px;

                    h4 {
                        line-height: 28px;
                    }

                    p {
                        line-height: 23px;
                    }
                }

                .imgDivmain {
                    width: 68%;
                }
            }
        }

        .bannerSlidermain {
            .bannerInnerDiv {
               padding:60px 20px 0px 0px;
                .bannerslidePara {
                    top: 60px;
                    left: 30px;
                    width: 26%;
                    p{line-height: 10px;}
                    h5{line-height: 22px;}
                    h1{line-height: 36px;margin: 10px 0px 15px;}
                }
                .bannerSlider img{
                    width: 80%;
                }
            }
        }
    }

    @media screen and (max-width:1024px) {
        margin-top: 72px;
        .desktopVid{display:none;}
        .mobVid{display:block;}
        &.almaraiCasestudy{
            .leftimg-rightText{
                .mobimgTwo{
                    display: none;
                }
            }
        }
        .desktopImg {
            display: none;
        }

        .mobileImg {
            display: block !important;
            padding: 25px 0px;
            img{
                margin: 0 auto;
                display: block;
                width: unset !important;
            }
        }

        .bannerSection {
            .sectionOne {
                padding: 32px 0px 20px 0px;

                .mobtext {
                    position: unset;
                    width: 100%;
                    padding-left: 24px;
                    padding-right: 24px;
                    padding-top: 32px;
                    p {
                        margin-bottom:8px;
                    }

                    h1 {
                        line-height: 36px;
                    }

                    h5 {
                        line-height: 20px;
                        width: 100%;
                    }
                }

                .mobImg {
                    width: 100%;
                    margin: 40px auto 0px;
                }
            }
        }

        .lefttext-rightImg .sectionTwo {
            display: block;

            .mobtextTwo {
                width: 100%;
                padding: 32px 24px 32px 24px;

                .innerContent {
                    width: 100%;
                    p{margin-bottom: 8px;}
                    h1 {
                        line-height: 36px;
                    }

                    h5 {
                        line-height: 20px;
                    }
                }
            }

            .mobimgTwo {
                width: 100%;
                margin: 0px;
                line-height: 0;
                padding: 0;

                img {
                    width: 100%;
                }
            }

        }

        .leftheading-rightText .sectionThree {
            display: block;
            padding: 32px 24px 24px 24px;

            .mobtextThree {
                width: 100%;

                .innerContianer {
                    width: 100%;
                    p{margin-bottom: 8px;}
                    h1 {
                        line-height: 36px;
                    }
                }
            }

            .mobsubtextThree {
                width: 100%;

                .innerContianertwo {
                    width: 100%;

                    h5 {
                        line-height: 20px;
                    }
                }
            }
        }
        .centerheading-centerText{
            .fullSection{ padding: 32px 24px 24px 24px;
                h1{line-height: 30px;margin-bottom:20px;}
                p{line-height: 20px;}
            }
        }
        .fullSectionAnimation{
            .fullSectionAnimationBox{display:block;padding: 0px 24px 70px 24px;
                .fullSectionAnimationOne{width:100%;
                    img{margin-bottom:15px;width:100%;
                        &:last-child{margin-bottom:15px;}
                    }
                }
                .fullSectionAnimationTwo{margin-left:0px;width:100%;}
            }
        }

        .fullscreenBigimg .sectionFour {
            padding: 10px 0px;
        }

        .bottomimgLogos .moreCasestudy {
            position: static;

            .brandLogos .relatedBox {
                padding: 12px;

                &:nth-child(1) {
                    text-align: center;
                }

                &:nth-child(2) {
                    text-align: center;
                }

                a img {
                    height: 50px;
                }
            }
        }

        

        .fullimgwithHeading {
            padding: 20px 0px;

            .headingSec {
                width: 100%;
                h4 {
                    line-height: 26px;
                    margin-bottom: 5px;
                }

                p {
                    line-height: 21px;
                }
            }

            .imgDiv {
                margin-top: 25px;
            }
        }

        .twoImgsides-headingmiddle {
            padding: 20px 0px;

            .imageHeadingmain {
                display: block;

                .headingDiv {
                    width: 100%;
                    padding: 20px;

                    h4 {
                        line-height: 26px;
                        margin-bottom: 5px;
                    }

                    p {
                        line-height: 21px;
                    }
                }

                .imgDivmain {
                    width: 100%;
                }
            }
        }

        .twoImgtogether-headinglast {
            padding: 20px 0px;

            .imageHeadingmain {
                display: block;

                .headingDiv {
                    width: 100%;
                    padding: 20px 20px 0px;

                    h4 {
                        line-height: 26px;
                        margin-bottom: 5px;
                    }

                    p {
                        line-height: 21px;
                    }
                }

                .imgDivmain {
                    width: 100%;
                }
            }
        }

        .bannerSlidermain{
            .bannerInnerDiv{
                padding:32px 0px 0px 0px;
                .bannerslidePara{
                    position: unset;
                    width: 100%;
                    padding: 0px 40px;
                    text-align: center;
                    h1{
                        line-height: 28px;
                        margin: 5px 0px 12px;
                        font-size: 22px;
                    }
                    h5{
                        font-size: 12px;
                        line-height: 20px;
                        width: 100%;
                    }
                }
                .bannerSlider{
                    margin-bottom: 24px;
                    img{
                        width: unset;
                    }
                    .slick-dots{
                        top: 95%;
                        height: unset;
                        right: 0;
                        left: 0;
                        transform: unset;
                        display: block;
                        li{
                            margin: 0px;
                            padding: 8px 0px;
                            button:before{
                                width: 4px;
                                height: 4px;
                                background: #858585;
                            }
                            &.slick-active{
                                margin-bottom: 0px;
                                margin-right: 20px;
                                button:before{
                                    width: 25px;
                                    height: 4px;
                                }
                            }
                        }
                    }
                }
                .awardSec{
                    display: block;
                    text-align: center;
                    padding-bottom: 20px;
                    h5{text-transform: uppercase;margin-bottom: 12px;}
                    .awardMaindiv{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;
                        .awardDivbx{
                            width: 48%;
                            margin-top: 12px;
                            h5{
                                text-transform: unset;
                                margin: 12px 0px 4px;
                            }
                        }
                    }
                }
            }
        }

    }
}