
.formSection{
	max-width: 100%;
	margin: 0 auto;
	overflow-x:hidden;
    @include display-property(flex,baseline);
	.sec1{
		width: 46%;
		.logo{
			margin-left: 0px;
		}
		h1{
			margin-top: 200px;	
			@media screen and (max-width:1450px){
				margin-top: 90px;
			}	
		}	
	}
	
	.form-wrap {
		border-left: 1px solid $black;
		background-color: $white;
		width: 46%;
		animation: 1s ease-out 0s 1 slideInFromright;
		@keyframes slideInFromright {
			0% {
				transform: translateX(100%);
			}
			100% {
				transform: translateX(0);
			}
		}
		.tabs {
			overflow: hidden;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			text-transform: uppercase;
	
			.signup-tab{
				width: 56%;
			}
			.login-tab{
				width: 30%;
			}
			.close{
				width: 15%;
				border-right: 0;
			}
			a {
				@include tabproperty;
				position:relative;
				
			}

			a.active {
				@include onclicktab;
			   
			
			&:after{
				content: "";
                position: absolute;
                border: 5px solid #00FFA3;
                bottom: 0;
                left: 0;
                right: 0;
			}
		}	
		}
		.tabs-content {
			
			div[id$="tab-content"] {
				display: none;
			}
			.active {
				display: block !important;
			}
	
			form {
				fieldset {
					width: 100%;
					height: auto;
					border: none;
					background: #fff;
					padding: 0px;
					
			
					@media screen and (max-width:1800px) {
						width: 100%;
					}

					@media screen and(max-width:1180px) {
						width: 100%;
					}
					@media screen and (max-width:1090px) {
						width: 100%;
					}
					
					.content{
						@include display-property(flex,center);
						padding: 46px 44px 34px 42px;
						border-bottom:1px dashed #000;

						
				
						@media screen and (min-width:2000px) {
							justify-content: normal;
						}
						@media screen and (max-width:1800px) {
							padding: 46px 30px 34px 30px;
						}
						@media screen and (max-width:1280px) {
							padding: 46px 20px 34px 20px;
						}
						@media screen and (max-width:1090px) {
							@include display-property(block,center);
							padding: 25px 30px;
						}
						@media screen and (max-width:1090px) {
							padding: 25px 20px;
						}
						&:active:after, &:focus:after ,&:hover:after {
							border: 1px solid #14CC8A;
						    position: absolute;
						    content: "";
						    right: 0;
						    bottom: 0;
						    left: 0;
						    background: #fff;
						}
						
						.mobFlex{
						@media screen and (max-width:5000px) {
							@media screen and (max-width:1800px) {
							padding: 46px 30px 34px 30px;
						}
						@media screen and (max-width:1090px) {
							display:block;
						}
						}
						}
				
						.ctc{
							width: 75%;
							display: flex;
							align-items: center;
							@media screen and (max-width:1090px) {
								margin-top:-15px;
								width: 100%;
							}
							.current{width:25%; text-align: right;}
							.expected{width:25%; text-align: right;}
	
							select {
								font-family: $main-font;
								border: none;
								color: $black;
								font-size: 16px;
								font-weight: $medium-w;
								margin: 0;
								padding: 0 10px;
								border-radius: 0;
					
								@media screen and (max-width:1090px) {
									padding: 0px;
									margin-top: 10px;
									font-size: 14px;
								}
							&:focus-visible{
								outline: none;
    							background: transparent;
								}
							}
						}
						.filesBtn{
							width: 75%;
							
							.file, .upload{
								display: block;
								opacity:0;
								height:0;
							}
							.d-flex{
								@include display-property(flex,center);
								@media screen and (max-width:1090px) {
									@include display-property(block,center);
								}
				
								.file-name{
									border: none;
									width: 90%;
									padding: 10px 10px 10px 0px;
									font-size: 24px;
									cursor: unset;
									@media screen and (max-width:1090px) {
										width: 100%;
									}
									@media screen and (max-width:1366px) {
										font-size: 18px;
									}
								}
								#upload-file, #file-name{width: 100%;}
								.upload-file{
									border: none;
									width: 90%;
									padding: 5px 5px 0px 0px;
									font-size: 24px;
									cursor: unset;
									@media screen and (max-width:1090px) {
										width: 100%;
									}
									@media screen and (max-width:1366px) {
										font-size: 18px;
									}
								}
								.Resume-file{
									border: none;
									width: 90%;
									padding: 10px 10px 0px 0px;
									font-size: 24px;
									cursor: unset;
									@media screen and (max-width:1090px) {
										width: 100%;
									}
									@media screen and (max-width:1366px) {
										font-size: 18px;
									}
								}
								.mob-file{
								@media screen and (max-width:900px) {display:block;}
								}
								
				
								input{
									font-size: 16px;
									font-weight: $semibold-w;
									color: $black;
									width: 25%;
									background-color: $white;
									border: 1px dashed $black;
									border-radius: 5px;
									padding: 10px 0px;
									cursor: pointer;
									white-space: nowrap;
								    overflow: hidden;
								    text-overflow: ellipsis;
								    
									@media screen and (max-width:1090px) {
										width: 75%;
									}
									
				
									
								}
							}
						}
				
				
						label {
							font-family: $main-font;
							float: left;
							width: 23%;
							font-size: 16px;
							color: $black;
							font-weight: $medium-w;
							line-height: 20px;

							@media  screen and (max-width:1640px) {
								width: 17%;
							}
				
							@media screen and (max-width:1366px) {
								font-size: 16px;
								line-height: 20px;
							}
							@media screen and (max-width:1090px) {
								font-size: 13px;
								width: 100%;
								margin-bottom: 10px;
							}
						}
						
						input {
							font-family: $main-font;
							border: none;
							color: $black;
							font-size: 24px;
							font-weight: 500;
							margin: 0;
							padding: 0 0px;
							width: 75%;
							vertical-align: middle;
							caret-color: #00FFA3;
							cursor: pointer;
							text-overflow: ellipsis;
							
							&:hover {
								border: none;
							}
							&:focus {
								outline: none;
							}
				
							@media screen and (max-width:1366px) {
								font-size: 18px;
								line-height: 24px;
							}
							@media screen and (max-width:1090px) {
								font-size: 18px;
								width: 100%;
								padding: 0px;
							}
							.hide-radio{display:none;}
						}

						
						.InputGroup {
							display: flex;
							width: 100%;
							@media screen and (max-width:1090px) {
								width: 100%;
							}
							input.radio {
								margin: 0;
								padding: 2px 0;
								width: auto;
								height: auto;
							}
							input[type="radio"] {
								visibility: hidden; /* 1 */
								height: 0; /* 2 */
								width: 0; /* 2 */
							}
							  
							label {
								display: flex;
								flex: auto;
								vertical-align: middle;
								align-items: center;
								justify-content: center;
								text-align: center;
								cursor: pointer;
								color: $black;
								padding: 10px 0px;
								border-radius: 6px;
								border: 1px solid $black;
								margin-right: 20px;
					   
							   &:last-of-type {
								   margin-right: 0;
							   }
					
							}
							input[type="radio"]:checked + label {
								background-color: $green;
							}
						}
						
					}

					.borderBlack{
						position:relative;
					}

					.borderDotted{
						border-bottom: 1px dashed $black;
					}
					.checkboxContent{
						border: none;
						padding: 46px 0px 34px 0px;
						display: flex;
						align-items: center;
						width: 82%;
						justify-content: space-between;
						@media screen and (max-width:770px) {
							padding: 25px 20px;
							width: 100%;
						}
	
						.policy{
							font-family: $main-font;
							font-weight: $regular-w;
							width: 90%;
							
						}
						input[type='checkbox'] {
							margin: 0;
							padding: 2px 0;
							width: 35px;
							height: 30px;
							margin-bottom: 20px;
							cursor: pointer;
							margin-right: 15px;
							@media screen and (max-width:770px) {
								margin-right: 10px;
								width:24px;
							}
							@media screen and (max-width:575px) {
								width:40px;
								height:25px;
							}
							@media screen and (max-width:350px) {
								width:40px;
								height:20px;
							}
							&:checked{
								-webkit-appearance: checkbox;
    							background-color:#00FFA3;
    							accent-color: #00FFA3;
							}
						}	
					}
					.submit {
						font-family: $main-font;
						font-weight: $extrabold-w;
						font-size: 24px;
						text-transform: uppercase;
						text-decoration: none;
						margin-top: 20px;
						border: none;
						color: rgba(0, 0, 0,0.2);
						padding: 80px;
						background: #E3E3E3;
						float: left;
						cursor: pointer;
				
						&:hover , &:focus{
							background-color: $green;
							color: #000;
						}
				
						@media screen and (max-width:1280px) {
							padding: 50px;
							font-size: 18px;
						}
						
						@media screen and (max-width:770px) {
							padding: 25px 50px;
							width: 100%;
							text-align: center;
						}
					}	   
				}
							   
			}
		}
	}
	

	@media screen and (max-width:1450px) {
		.sec1{
			width: 46%;
			img{width:36%;}
		}
		.form-wrap{
			width: 52%;
		}
	}

	@media screen and (max-width:1030px) {
		.sec1{
			img{width:48%;}
		}
		
	}
	@media screen and (max-width:900px) {
		.sec1{
			display: none;
			img{width:50%;}
		}
		.form-wrap{
			width: 100%;
			border-left: 0px solid #000;
		}
	}
	
}





