// Mainpage scss//

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.mainHeader {
    width: 100%;
    @media screen and (max-width:768px) {margin:25px 0px;}
    .headerSection {
        margin-top: -5px;
        align-items: center;
        @include display-property(flex, baseline);
        @media screen and (min-width:1600px) {
            margin-top: -2px;
        }

        .tmLogo {
            @media screen and (max-width:768px) {
                margin-left: 20px;
                width: 75%;

                img {
                    width: 80%;
                }
            }

        }

        .qrCode {
            @include display-property(flex, center);

            .qrcodeContent {
                @include display-property(flex, center);

                a {
                    margin: 0px 10px 0px 40px;

                    @media screen and (max-width:1000px) {
                        margin: 0px 10px 0px 10px;
                    }
                }

            }
        }

        @media screen and (max-width:1020px) {
            .qrCode {
                .qrcodeContent {
                    @include display-property(none, none);
                }

            }
        }
    }

}




.videoSec {
    position: relative;

    .textVideo {
        height: 100vh;
        position: relative;
        display: flex;
        align-items: center;
        flex-flow: wrap;
        transition: 0.2s all;

        .videoLogos {
            width: 45%;
            margin-left: auto;
            position: relative;

            @media screen and (max-width:780px) {
                width: 100%;
                position: static;

            }

            #video {
                width: 100%;
            }

            .logos {
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin: 10px auto;
                .logoImg {
                        margin: auto 10px;
                    img {
                        width: 100%;
                        text-align: center;

                        @media screen and (max-width:1300px) {
                            
                        }
                    }
                }
            }
        }

        .textLarge {
            position: absolute;
            top: 42%;
            left: 0;
            z-index: 1;
            width: 78%;
            margin: auto;
            transform: translateY(-50%);

            @media screen and (max-width:1050px) {
                width: 73%;
            }

            @media screen and (max-width:780px) {
                width: 100%;
                margin-bottom: 35px;
                position: static;
                transform: translateY(5%);
                margin: 20px;
            }
        }

        .hoverDiv {
            top: 62px;
            position: absolute;
            height: 255px !important;
            width: 452px !important;
            background-color: brown;
            right: 0;
            display:none;

        }

        // .hoverDiv:hover {
        

        //     .textLarge {
        //         transition: 1s all;
        //         width: 35%;
        //         top: 52%;
        //     }

        //     .h1 {
        //         font-size: 64px;

        //         @media screen and (max-width:1600px) {
        //             font-size: 52px;
        //         }
        //     }
        // }


        // .hoverDiv:hover+.videoLogos {
        //     width: 65%;
        //     transition: 1s all;
        // }

        &:hover{
            transition: 1s all;
            .textLarge{
                width: 35%;
                transition: 1s all;
                top: 52%;
                .h1{
                    font-size: 64px;
                    @media screen and (max-width:1600px){
                        font-size: 52px;
                    }
                }      
            }
            .videoLogos{
                width: 65%;
                transition: 1s all;

            }
        }

        @media screen and (max-width:1400px) {
            height: 65vh;

            &:hover{
                height: 20vh;
                .textLarge{
                    top: 70%;
                    .h1{
                        font-size: 42px;
                        @media screen and (max-width:1050px){
                            font-size: 32px;
                        }
                    }
                }
            }
        }

        @media screen and (max-width:1050px) {
            pointer-events: none;
            height: 67vh;
            &:hover{
               height: 100vh;
               .textLarge{
                    pointer-events: none;
                    .h1{
                        pointer-events: none;
                    }
                }
                .videoLogos{
                    pointer-events: none;

                }
            }
        }

        @media screen and (max-width:768px) {
            height: 40vh;
        }
    }
}