.clientSectwo{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 96px;
    width: 100%;
    .clientLogostwo{
        width: 16.6%;
        padding: 80px;
        border: 1px solid #000;
        img{height: 40px;width: 100px;}
        :nth-child(6n+1){
            margin-left: -1px;
            margin-right: -1px;
        }
    }
    @media screen and (max-width:1600px) {
        .clientLogostwo{
            padding: 60px;
        }
    }
    @media screen and (max-width:1400px) {
        .clientLogostwo{
            width: 20%;
            padding: 50px;
        }
    }
    @media screen and (max-width:1200px) {
        .clientLogostwo{
            width: 25%;
            padding: 40px;
        }
    }
    @media screen and (max-width:1024px) {
        .clientLogostwo{
            width: 33.3%;
            padding: 20px;
        }
    }
    @media screen and (max-width:745px) {
        .clientLogostwo{
            width: 50%;
            padding: 20px;
        }
    }
}