.thanksSection {
    @media screen and (max-width:900px) {position:relative; margin-top:0px !important;}
    .sec1{
        @media screen and (max-width:900px) {display:none !important;}
    }
    .form-wrap {
        height: unset;
        overflow-y: unset;
        .tabs{
            @media screen and (max-width:900px) {display:none !important;}
        }
        
    }

    .tabs-content {
        overflow-y: unset !important;
        @media screen and (max-width:900px){height: calc(100vh - 0px) !important;}
    }
    .thanksClose{display:none;
        @media screen and (max-width:900px){display:block; position:absolute; top:0; right:0;padding: 16px; background: #000;}
    
        @media screen and (max-width:375px) {padding: 10px;}
    }
}

.thankYou {
    background-color: #00FFA3;
    padding: 200px 217px 0px 217px;
    height: calc(100vh - 185px);

    .thanksImage {
        display: block;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 18px;
        font-weight: 400
    }

    h2,
    h3,
    div {
        text-align: center;
        margin-top: 20px;
    }

    a {
        font-size: 18px;
        font-weight: 800;
        color: #000;
        display: inline-block;
        margin-top: 65px;
        margin-bottom: 40px;
    }

    @media screen and (max-width:1850px) {
        height: calc(100vh - 179.4px);
    }

    @media screen and (max-width:1800px) {
        height: calc(100vh - 159px);
    }

    @media screen and (max-width:1600px) {
        height: calc(100vh - 119px);
    }

    @media screen and (max-width:1680px) {
        padding: 160px 162px 4px 167px;

        h3 {
            font-size: 16px;
        }

        .h2 {
            font-size: 32px;
            line-height: 30px;
        }
    }

    @media screen and (max-width:1400px) {
        h3 {
            font-size: 14px;
        }

        .h2 {
            font-size: 24px;
        }
    }

    @media screen and (max-width:1090px) {
        height: calc(100vh - 115px);
        padding: 100px 80px;

        a {
            margin-top: 60px;
            margin-bottom: 0px;
        }
    }
    @media screen and (max-width:900px) { height:100vh;}
}



// template class
.page-template-thanks{
    header{display: none;}
}