.page-template-udaan-LMR {
  overflow-x: hidden; }

.udaanLmrSection {
  background: linear-gradient(303.79deg, #E62B5A 9.75%, #EA3525 107.27%);
  margin-top: 86px;
  border-top: 1px solid #000;
  /**************************************************Media Query***************************************************/ }
  .udaanLmrSection .sectionOne {
    position: relative;
    padding: 70px 0px 200px 0px; }
    .udaanLmrSection .sectionOne .mobtext {
      position: absolute;
      top: 10%;
      padding-left: 112px;
      width: 32%; }
      .udaanLmrSection .sectionOne .mobtext p {
        text-transform: uppercase; }
      .udaanLmrSection .sectionOne .mobtext h1 {
        line-height: 70px;
        margin: 35px 0px; }
      .udaanLmrSection .sectionOne .mobtext h5 {
        line-height: 30px;
        color: rgba(255, 255, 255, 0.5);
        width: 73%; }
    .udaanLmrSection .sectionOne .mobImg img {
      margin: 0 auto;
      display: flex;
      align-items: center;
      width: 60%; }
  .udaanLmrSection .sectionTwo {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .udaanLmrSection .sectionTwo .mobimgTwo {
      width: 48%; }
      .udaanLmrSection .sectionTwo .mobimgTwo img {
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center; }
    .udaanLmrSection .sectionTwo .mobtextTwo {
      padding: 94px 0px 295px 112px;
      background: #fff;
      width: 48%; }
      .udaanLmrSection .sectionTwo .mobtextTwo p {
        text-transform: uppercase; }
      .udaanLmrSection .sectionTwo .mobtextTwo h1 {
        line-height: 70px;
        margin: 5px 0px 35px 0px;
        width: 60%; }
      .udaanLmrSection .sectionTwo .mobtextTwo h5 {
        line-height: 30px;
        width: 60%; }
  .udaanLmrSection .sectionEasyThree {
    position: relative; }
    .udaanLmrSection .sectionEasyThree img {
      max-width: 100%; }
    .udaanLmrSection .sectionEasyThree .sectionThree {
      position: absolute;
      top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 350px 0px 0px 112px; }
      .udaanLmrSection .sectionEasyThree .sectionThree .mobtextThree {
        width: 48%; }
        .udaanLmrSection .sectionEasyThree .sectionThree .mobtextThree p {
          text-transform: uppercase; }
        .udaanLmrSection .sectionEasyThree .sectionThree .mobtextThree h1 {
          line-height: 70px;
          margin: 5px 0px 35px 0px;
          width: 100%; }
      .udaanLmrSection .sectionEasyThree .sectionThree .mobsubtextThree {
        width: 45%; }
        .udaanLmrSection .sectionEasyThree .sectionThree .mobsubtextThree h5 {
          line-height: 30px !important;
          width: 60% !important; }
  .udaanLmrSection .sectionFour {
    padding: 50px 0px;
    transform: translatey(0px);
    animation: float 2s ease-in-out infinite; }
@keyframes float {
  0% {
    transform: translatey(0px); }
  50% {
    transform: translatey(-20px); }
  100% {
    transform: translatey(0px); } }
    .udaanLmrSection .sectionFour img {
      display: flex;
      align-items: center;
      margin: auto;
      width: 80%; }
    .udaanLmrSection .sectionFour .mobileImg {
      display: none; }
  .udaanLmrSection .sectionFive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 130px 0px 130px 112px; }
    .udaanLmrSection .sectionFive .mobtextFour {
      width: 48%; }
      .udaanLmrSection .sectionFive .mobtextFour p {
        text-transform: uppercase; }
      .udaanLmrSection .sectionFive .mobtextFour h1 {
        line-height: 70px;
        margin: 5px 0px 35px 0px;
        width: 60%; }
    .udaanLmrSection .sectionFive .mobsubtextFour {
      width: 45%; }
      .udaanLmrSection .sectionFive .mobsubtextFour h5 {
        line-height: 30px;
        width: 60%; }
  .udaanLmrSection .sectionSix {
    position: relative;
    overflow: hidden; }
    .udaanLmrSection .sectionSix .sectionSiximg {
      line-height: 0px; }
      .udaanLmrSection .sectionSix .sectionSiximg img {
        width: 100%; }
    .udaanLmrSection .sectionSix .moreCasestudy {
      position: absolute;
      width: 100%;
      bottom: -100%; }
      .udaanLmrSection .sectionSix .moreCasestudy .brandLogos {
        display: flex;
        align-items: center; }
        .udaanLmrSection .sectionSix .moreCasestudy .brandLogos .relatedBox {
          padding: 30px;
          width: 50%;
          background: #00C859;
          transition: 0.6s all; }
          .udaanLmrSection .sectionSix .moreCasestudy .brandLogos .relatedBox a {
            display: block;
            width: 100%;
            cursor: url(../images/mouse-cursor-pages.png) 30 30, auto; }
            .udaanLmrSection .sectionSix .moreCasestudy .brandLogos .relatedBox a img {
              margin: 0 auto;
              height: 100px; }
          .udaanLmrSection .sectionSix .moreCasestudy .brandLogos .relatedBox:nth-child(1) {
            text-align: left; }
          .udaanLmrSection .sectionSix .moreCasestudy .brandLogos .relatedBox:nth-child(2) {
            text-align: right; }
          .udaanLmrSection .sectionSix .moreCasestudy .brandLogos .relatedBox.active {
            width: 100%; }
          .udaanLmrSection .sectionSix .moreCasestudy .brandLogos .relatedBox.activeTwo {
            width: 100%; }
    .udaanLmrSection .sectionSix .circleAnimShow {
      position: absolute;
      bottom: 0%;
      transition: all 1s ease-in-out; }
  @media screen and (max-width: 1600px) {
    .udaanLmrSection .sectionOne {
      padding: 50px 0px 150px 0px; }
      .udaanLmrSection .sectionOne .mobtext {
        padding-left: 82px; }
        .udaanLmrSection .sectionOne .mobtext h1 {
          margin: 20px 0px;
          line-height: 50px; }
        .udaanLmrSection .sectionOne .mobtext h5 {
          line-height: 27px; }
    .udaanLmrSection .sectionTwo .mobtextTwo {
      padding: 74px 0px 200px 82px; }
      .udaanLmrSection .sectionTwo .mobtextTwo h1 {
        margin: 5px 0px 20px 0px;
        line-height: 50px;
        width: 55%; }
      .udaanLmrSection .sectionTwo .mobtextTwo h5 {
        line-height: 27px;
        width: 55%; }
    .udaanLmrSection .sectionTwo .mobimgTwo {
      width: 50%; }
      .udaanLmrSection .sectionTwo .mobimgTwo img {
        width: 80%; }
    .udaanLmrSection .sectionEasyThree .sectionThree {
      padding: 100px 0px 100px 82px !important; }
      .udaanLmrSection .sectionEasyThree .sectionThree .mobtextThree h1 {
        line-height: 50px !important;
        margin: 5px 0px 20px 0px !important;
        width: 95% !important; }
      .udaanLmrSection .sectionEasyThree .sectionThree .mobsubtextThree h5 {
        line-height: 27px !important;
        width: 55% !important; }
    .udaanLmrSection .sectionFour {
      padding: 30px 0px; }
      .udaanLmrSection .sectionFour img {
        width: 68%; }
    .udaanLmrSection .sectionFive {
      padding: 100px 0px 100px 82px; }
      .udaanLmrSection .sectionFive .mobtextFour h1 {
        width: 55%;
        line-height: 50px;
        margin: 5px 0px 20px 0px; }
      .udaanLmrSection .sectionFive .mobsubtextFour h5 {
        line-height: 27px;
        width: 55%; } }
  @media screen and (max-width: 1400px) {
    .udaanLmrSection {
      margin-top: 76px; }
      .udaanLmrSection .sectionOne {
        padding: 35px 0px 100px 0px; }
        .udaanLmrSection .sectionOne .mobtext {
          padding-left: 52px; }
          .udaanLmrSection .sectionOne .mobtext h1 {
            margin: 10px 0px;
            line-height: 45px; }
          .udaanLmrSection .sectionOne .mobtext h5 {
            line-height: 25px; }
      .udaanLmrSection .sectionTwo .mobtextTwo {
        padding: 54px 0px 100px 52px; }
        .udaanLmrSection .sectionTwo .mobtextTwo h1 {
          margin: 5px 0px 10px 0px;
          line-height: 45px;
          width: 55%; }
        .udaanLmrSection .sectionTwo .mobtextTwo h5 {
          line-height: 25px;
          width: 58%; }
      .udaanLmrSection .sectionTwo .mobimgTwo {
        width: 50%; }
        .udaanLmrSection .sectionTwo .mobimgTwo img {
          width: 77%; }
      .udaanLmrSection .sectionEasyThree .sectionThree {
        padding: 80px 0px 80px 52px !important; }
        .udaanLmrSection .sectionEasyThree .sectionThree .mobtextThree h1 {
          line-height: 45px !important;
          margin: 5px 0px 10px 0px !important;
          width: 85% !important; }
        .udaanLmrSection .sectionEasyThree .sectionThree .mobsubtextThree h5 {
          line-height: 25px !important;
          width: 58% !important; }
      .udaanLmrSection .sectionFour {
        padding: 20px 0px; }
        .udaanLmrSection .sectionFour img {
          width: 64%; }
      .udaanLmrSection .sectionFive {
        padding: 80px 0px 80px 52px; }
        .udaanLmrSection .sectionFive .mobtextFour h1 {
          width: 55%;
          line-height: 45px;
          margin: 5px 0px 10px 0px; }
        .udaanLmrSection .sectionFive .mobsubtextFour h5 {
          line-height: 25px;
          width: 58%; } }
  @media screen and (max-width: 1200px) {
    .udaanLmrSection .sectionOne {
      padding: 35px 0px 60px 0px; }
      .udaanLmrSection .sectionOne .mobtext {
        padding-left: 32px; }
        .udaanLmrSection .sectionOne .mobtext h1 {
          margin: 10px 0px;
          line-height: 40px; }
        .udaanLmrSection .sectionOne .mobtext h5 {
          line-height: 23px; }
    .udaanLmrSection .sectionTwo .mobtextTwo {
      padding: 34px 0px 60px 32px; }
      .udaanLmrSection .sectionTwo .mobtextTwo h1 {
        margin: 5px 0px 10px 0px;
        line-height: 40px;
        width: 60%; }
      .udaanLmrSection .sectionTwo .mobtextTwo h5 {
        line-height: 23px;
        width: 62%; }
    .udaanLmrSection .sectionTwo .mobimgTwo {
      width: 50%; }
      .udaanLmrSection .sectionTwo .mobimgTwo img {
        width: 77%; }
    .udaanLmrSection .sectionEasyThree .sectionThree {
      padding: 50px 0px 60px 32px !important; }
      .udaanLmrSection .sectionEasyThree .sectionThree .mobtextThree h1 {
        line-height: 40px !important;
        margin: 5px 0px 10px 0px !important;
        width: 60% !important; }
      .udaanLmrSection .sectionEasyThree .sectionThree .mobsubtextThree h5 {
        line-height: 23px !important;
        width: 62% !important; }
    .udaanLmrSection .sectionFour {
      padding: 20px 0px; }
      .udaanLmrSection .sectionFour img {
        width: 64%; }
    .udaanLmrSection .sectionFive {
      padding: 50px 0px 60px 32px; }
      .udaanLmrSection .sectionFive .mobtextFour h1 {
        width: 60%;
        line-height: 40px;
        margin: 5px 0px 10px 0px; }
      .udaanLmrSection .sectionFive .mobsubtextFour h5 {
        line-height: 23px;
        width: 62%; } }
  @media screen and (max-width: 1024px) {
    .udaanLmrSection {
      margin-top: 73px; }
      .udaanLmrSection .sectionOne {
        padding: 32px 0px 20px 0px; }
        .udaanLmrSection .sectionOne .mobtext {
          position: unset;
          width: 100%;
          padding-left: 24px;
          padding-right: 24px; }
          .udaanLmrSection .sectionOne .mobtext h1 {
            line-height: 36px; }
          .udaanLmrSection .sectionOne .mobtext h5 {
            line-height: 20px;
            width: 100%; }
        .udaanLmrSection .sectionOne .mobImg {
          width: 100%;
          margin: 40px auto 0px; }
      .udaanLmrSection .sectionTwo {
        display: block; }
        .udaanLmrSection .sectionTwo .mobtextTwo {
          width: 100%;
          padding: 32px 24px 32px 24px; }
          .udaanLmrSection .sectionTwo .mobtextTwo h1 {
            line-height: 36px;
            width: 100%; }
          .udaanLmrSection .sectionTwo .mobtextTwo h5 {
            line-height: 20px;
            width: 100%; }
        .udaanLmrSection .sectionTwo .mobimgTwo {
          width: 100%;
          margin: 60px 0px 0px; }
          .udaanLmrSection .sectionTwo .mobimgTwo img {
            width: 100%; }
      .udaanLmrSection .sectionEasyThree {
        position: unset; }
        .udaanLmrSection .sectionEasyThree .sectionThree {
          position: unset;
          display: block !important;
          padding: 32px 24px 24px 24px !important; }
          .udaanLmrSection .sectionEasyThree .sectionThree .mobtextThree {
            width: 100% !important; }
            .udaanLmrSection .sectionEasyThree .sectionThree .mobtextThree h1 {
              line-height: 36px !important;
              width: 100% !important; }
          .udaanLmrSection .sectionEasyThree .sectionThree .mobsubtextThree {
            width: 100% !important; }
            .udaanLmrSection .sectionEasyThree .sectionThree .mobsubtextThree h5 {
              line-height: 20px !important;
              width: 100% !important; }
      .udaanLmrSection .sectionFour {
        padding: 10px 0px; }
        .udaanLmrSection .sectionFour img {
          width: 100%; }
        .udaanLmrSection .sectionFour .desktopImg {
          display: none; }
        .udaanLmrSection .sectionFour .mobileImg {
          display: block; }
      .udaanLmrSection .sectionFive {
        padding: 32px 24px 32px 24px;
        display: block; }
        .udaanLmrSection .sectionFive .mobtextFour {
          width: 100%; }
          .udaanLmrSection .sectionFive .mobtextFour h1 {
            width: 100%;
            line-height: 36px; }
        .udaanLmrSection .sectionFive .mobsubtextFour {
          width: 100%; }
          .udaanLmrSection .sectionFive .mobsubtextFour h5 {
            line-height: 20px;
            width: 100%; }
      .udaanLmrSection .sectionSix .moreCasestudy {
        position: static; }
        .udaanLmrSection .sectionSix .moreCasestudy .brandLogos .relatedBox {
          padding: 12px; }
          .udaanLmrSection .sectionSix .moreCasestudy .brandLogos .relatedBox:nth-child(1) {
            text-align: center; }
          .udaanLmrSection .sectionSix .moreCasestudy .brandLogos .relatedBox:nth-child(2) {
            text-align: center; }
          .udaanLmrSection .sectionSix .moreCasestudy .brandLogos .relatedBox a img {
            height: 50px; } }

#button {
  display: none; }
  @media screen and (max-width: 1024px) {
    #button {
      display: flex;
      align-items: center;
      background-color: #fff;
      width: 48px;
      height: 48px;
      text-align: center;
      border-radius: 50%;
      position: fixed;
      bottom: 20px;
      right: 24px;
      transition: background-color .3s, opacity .5s, visibility .5s;
      opacity: 0;
      visibility: hidden;
      z-index: 1000;
      cursor: pointer; }
      #button img {
        margin: 0 auto; }
      #button:hover {
        background-color: #fff; }
      #button:active {
        background-color: #555; }
      #button.show {
        opacity: 1;
        visibility: visible; } }

/*# sourceMappingURL=udaan-lmr.css.map */
